<div id="about">
      <!-- Image Section -->
    <div id="imageDiv">
     <img src="/img/nearby pic.jpg" width="500" height="600">
    </div>
      <!-- text Section -->
    <div id="textDiv">
      <h1><big>About Ezra's Flowers</big></h1><br>
      <h2>Tradition since 2018</h2>
      <p><font size="5">We, at the flowers shop, always make sure we do the best as we can to get a good grade and for that any request that we will be asked by morenu verabenu ateret roshenu Yossi n"y will be treated and reviewd with the best care. we thought since it doesnt matter what we wrote here to give a quick dvar torah. You are not allowed to plant or work on our flowers in shmitah.</font></p>
      <p> <font id="haveFun" size="6">HAVE FUN!</font></p>
    </div>
  </div>