

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/img/nearby pic.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Ezra's Flowers</h1><br>
      <h5 class="w3-center">Tradition since 2018</h5>
      <p class="w3-large">We, at the flowers shop, always make sure we do the best as we can to get a good grade and for that any request that we will be asked by morenu verabenu ateret roshenu Yossi n"y will be treated and reviewd with the best care. we thought since it doesnt matter what we wrote here to give a quick dvar torah. You are not allowed to plant or work on our flowers in shmitah. <span class="w3-tag w3-light-grey">HAVE FUN!</span></p>
    </div>
  </div>
  
  <hr>
