<div id="jsGrid"></div>
<!-- jsgrid script, cannot be moved to head -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="/scripts/jsgrid-load.js"> 
</script>