<!-- this page is a test page in order to check different features, the actual html should be proccessed via ejs -->

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Flowers++</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--#region bootstrap + jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- #endregion  -->

    <!--#region jsgrid -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" rel="stylesheet">
    <!-- #endregion  -->

    <link href="./css/MyCss.css" rel="stylesheet">
    <script src="./scripts/main.js"></script>
    <!--#region jQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- #endregion  -->

    <!-- ionicons -->
    <link href="https://unpkg.com/ionicons@4.0.0/dist/css/ionicons.min.css" rel="stylesheet" />


</head>

<body>
    <!-- jsgrid script, cannot be moved to head -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./img/logo-black2.jpg" height="50" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div id="nav-tabs"></div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="nav-signup">
                    <button type="button" class="btn btn-dark btn-primary" data-toggle="modal" data-target="#signupModal">
                        <i class="icon ion-md-person-add"></i> Signup
                    </button>
                </li>
                <li class="nav-item" id="nav-login">
                    <button type="button" class="btn btn-dark btn-primary" data-toggle="modal" data-target="#loginModal">

                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </button>
                </li>
                <li class="nav-item" id="nav-logout">
                    <button type="button" class="btn btn-dark btn-primary">

                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </button>
                </li>
                <li class="nav-item" id="nav-profile-img" style="display:none">

                    <img class="profile-img" id="profile-img" onclick="$('#profile-input').click()" src="" alt="Profile Image">
                    <form id="profile-form" action="/res/profile-image" method="post" target="hidden-frame">
                        <input type="file" name="upload" onchange="postFile(this.files[0],'/res/profile-image', refreshProfileImage);" id="profile-input"
                            style="display:none" accept="image/*">
                        <iframe name='hidden-frame' style="display:none"> </iframe>
                    </form>


                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="login-form">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="User Name" required />
                            <input type="password" name="password" class="form-control" placeholder="Password" required />
                        </div>
                    </form>
                    <div id="modal-error-msg">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" id="login-button">Log In</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="/signup" id="signup-form" method="POST">
                        <div class="form-group">
                            <input type="text" name="userName" class="form-control" placeholder="User Name" required />
                            <input type="password" name="password" class="form-control" placeholder="Password" required />
                            <input type="text" name="firstName" class="form-control" placeholder="First Name" required />
                            <input type="text" name="lastName" class="form-control" placeholder="Last Name" required />
                            <input type="email" name="email" class="form-control" placeholder="Email" required />
                            <input type="text" name="address" class="form-control" placeholder="Address" required />
                            <input type="number" name="branchID" class="form-control" placeholder="Branch ID" required disabled/>
                            <label for="gender" class="mx-2">Gender:
                                <select class="form-control" aria-placeholder="Gender" name="gender" required>
                                    <option value="1">
                                        Male
                                    </option>
                                    <option>
                                        Female
                                    </option value="2">
                                </select>
                            </label>
                            <label for="className" class="mx-2">Select User Type:
                                <select class="form-control" aria-placeholder="User Type" name="className" onchange="userTypeChanged();event.preventDefault();return false;"
                                    required>
                                    <option>
                                        Customer
                                    </option>
                                    <option>
                                        Provider
                                    </option>
                                    <option>
                                        Employee
                                    </option>
                                    <option>
                                        Manager
                                    </option>
                                </select>
                            </label>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" onclick="$('#signup-form').submit()">Sign Up</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <%- include("partials/about") %>

            </div>

        </div>
    </div>
</body>

</html>