.hidden {
    display: none
}

.productbox {
    background-color: #ffffff;
    padding: 7px;
    margin: 7px;
    -webkit-box-shadow: 4px 6px 12px 2px #999;
    -moz-box-shadow: 4px 6px 12px 2px #999;
    box-shadow: 4px 6px 12px 2px #999;
    display: inline-block;
    width: 15em
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.producttitle {
    font-weight: bold;
    padding: 5px 0 0px 0;
    text-align: center
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}

td.jsgrid-cell {
    overflow: hidden;
}