.hidden {
    display: none
}

.productbox {
    background-color: #ffffff;
    padding: 7px;
    margin: 7px;
    -webkit-box-shadow: 4px 6px 12px 2px #999;
    -moz-box-shadow: 4px 6px 12px 2px #999;
    box-shadow: 4px 6px 12px 2px #999;
    display: inline-block;
    width: 15em
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.producttitle {
    font-weight: bold;
    padding: 5px 0 0px 0;
    text-align: center
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}

td.jsgrid-cell {
    overflow: hidden;
}

#about {
    font-family: "Times New Roman", Georgia, Serif;
}

#about h1 {
    color: darkblue;
    text-align: center;
}

#about h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    text-align: center;
}

#haveFun {
    background: lightblue;
}

#about img {
    opacity: 0.8;
}

#imageDiv {
    float: left;
}

#textDiv {
    width: 85%;
}

#about, #page {
    margin: auto;
    margin-top: 100px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

img.profile-img {
    border-radius: 50%;
    max-height: 2em;
    max-width: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

button.btn.btn-dark.btn-primary {
    font-size: smaller;
}