<% var userType = user.className
    var tabs = ["catalog"];
    if (userType === "Employee" || userType === "Manager"){
        tabs.push("users");
    }
    if (userType === "Manager"){
        tabs.push("branches");
    }
    tabs.push("contact-us")

 %>


    <% for(var tab of tabs){ %>
        <div class="tab-pane fade" id="nav-<%- tab %>" role="tabpanel" aria-labelledby="nav-<%- tab %>-tab">
            <%- include("../partials/" + tab,{flowers: data.flowers}) %>
        </div>
    <% } %>