<div class="tab-pane fade" id="nav-catalog" role="tabpanel" aria-labelledby="nav-catalog-tab">
    <%- include("../partials/catalog", data.flowers) %>
</div>
<% if(typeof user === "MyWorker" || typeof user === "Manager"){ %>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
        <%- include( "../partials/users", {isManager : typeof user === 'Manager'}) %>
    </div>
<% } %>

<% if(typeof user === "Manager"){ %>
    <div class="tab-pane fade" id="nav-branches" role="tabpanel" aria-labelledby="nav-branches-tab">
        <%- include( "../partials/branches", {isManager : typeof user === 'Manager'}) %>
    </div>
<% } %>