<% var userType = user.__proto__.constructor.name %>

<div class="tab-pane fade" id="nav-catalog" role="tabpanel" aria-labelledby="nav-catalog-tab">
    <%- include("../partials/catalog",{flowers: data.flowers}) %>
</div>
<% if(userType === "MyWorker" || userType === "Manager"){ %>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
        <%- include( "../partials/users", {isManager : userType=== 'Manager'}) %>
    </div>
<% } %>

<% if(userType === "Manager"){ %>
    <div class="tab-pane fade" id="nav-branches" role="tabpanel" aria-labelledby="nav-branches-tab">
        <%- include( "../partials/branches") %>
    </div>
<% } %>